<button type="button" role="switch" data-action="aria-switch" aria-label={{@label}} data-keep-disabled={{@disabled}} {{on 'click' this.toggle}}
  aria-checked={{this.ariaChecked}}
  aria-labelledby={{this.ariaLabelledBy}}
  disabled={{@disabled}}
>
<span> {{this.onLabel}} </span>
<span> {{this.offLabel}} </span>
</button>
