<AriaSwitch label="My Label" @checked={{true}} />

<hr>

<p id="ex_label">
  Item 2
</p>
<AriaSwitch ariaLabelledBy="ex_label" @disabled={{true}} />

<hr>

<p id="ex_label2">
  Item 3 (purposefully disabled)
</p>
<AriaSwitch label="My Label" @disabled={{true}} />

<hr>

<p id="ex_label3">
  Item 4 (purposefully missing aria-label)
</p>
<AriaSwitch />

<hr>
<p>With custom on/off labels</p>
<AriaSwitch onLabel="Yes" offLabel="No" class="toggle toggle-primary" />
<hr>
<p>With toggle callback</p>
<AriaSwitch @onToggle={{this.toggleCallback}} />

<hr>
<p>With color customization using CSS variables</p>
<AriaSwitch @onToggle={{this.toggleCallback}} />
